{port_env,
[{"win32","CFLAGS", "$CFLAGS"},
{"win32","ERL_LDFLAGS","Ws2_32.lib Advapi32.lib"},
{"darwin","CFLAGS", "$CFLAGS -fomit-frame-pointer -fno-strict-aliasing -Wmissing-prototypes -DNDEBUG=1 -Wall -O2 -arch x86_64 -std=c11  -mmacosx-version-min=10.9"},
{"linux","CFLAGS", "$CFLAGS -fomit-frame-pointer -fno-strict-aliasing -Wmissing-prototypes -DNDEBUG=1 -Wall -O2 -std=gnu99"}
]}.

{port_specs, [{"priv/aqdrv_nif.so", ["c_src/aqdrv_nif.c", "c_src/lfqueue.c", "c_src/lz4.c","c_src/lz4hc.c", "c_src/lz4frame.c", "c_src/xxhash.c"]}]}.
